Website-Chatbot.json
{
  "name": "Website-Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16yQk2cuqAPiC5fJ1Xn_8qqMuKnN2vxiV",
          "mode": "list",
          "cachedResultName": "website chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16yQk2cuqAPiC5fJ1Xn_8qqMuKnN2vxiV"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "3b06e1fe-7705-4179-b0ad-a97723172794",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TRkqa8JDQ33ltWQt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "noura-aesthetics",
          "mode": "list",
          "cachedResultName": "noura-aesthetics"
        },
        "options": {
          "pineconeNamespace": "Noura Aesthetics"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        464,
        96
      ],
      "id": "47198676-9385-445e-a19e-91f3ad58b6b5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "u01Bx452C2WnKyPc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        368
      ],
      "id": "d2254144-be66-4b1d-9cb6-8150e8facb72",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Y3OKnnHmpULNHhgL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        384
      ],
      "id": "9a3c2e58-edae-4d8b-a175-6c189f71c2bf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        576
      ],
      "id": "18dddfaf-c779-4c45-bf64-88951dcc9656",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -448
      ],
      "id": "78ad0ef2-161a-419e-91be-52bf5bed0db1",
      "name": "When chat message received",
      "webhookId": "ce0cad58-7489-485e-b5e9-a90e18750984"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a friendly and professional assistant for Noura Aesthetics Clinic.\nAnswer customer questions about cosmetic treatments, bookings, and skincare services briefly and politely.\nIf the question is unclear, ask kindly for more details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        -448
      ],
      "id": "7cf09a83-e5bd-434c-9903-cb1be73fc61b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        -176
      ],
      "id": "e21075f9-0198-4f22-b82a-a49a729eef68",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Y3OKnnHmpULNHhgL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16yQk2cuqAPiC5fJ1Xn_8qqMuKnN2vxiV",
          "mode": "list",
          "cachedResultName": "website chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16yQk2cuqAPiC5fJ1Xn_8qqMuKnN2vxiV"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        208
      ],
      "id": "7806af83-d3fb-49c8-8b85-afbd31ee0d44",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TRkqa8JDQ33ltWQt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        80
      ],
      "id": "0b70803c-e59a-4865-8d6b-28a80ef24f06",
      "name": "Get Content",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TRkqa8JDQ33ltWQt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        80
      ],
      "id": "7083d934-e2c8-4feb-9711-cfa224d6194f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        -176
      ],
      "id": "d7ff892a-c756-43c8-a03a-bcc637b093bc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to access the database to answer the user's questions"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        400,
        -272
      ],
      "id": "5f1af4e5-892e-40ff-b312-b6198a063d23",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        -80
      ],
      "id": "4f47f03e-dfc9-4d77-a6dd-5e489bb20eed",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Y3OKnnHmpULNHhgL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "noura-aesthetics",
          "mode": "list",
          "cachedResultName": "noura-aesthetics"
        },
        "options": {
          "pineconeNamespace": "Noura Aesthetics"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        -80
      ],
      "id": "253d7298-132b-4d69-a8fd-54f9b0e31a2e",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "u01Bx452C2WnKyPc",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b5bb6497-aac2-43c8-ab34-dc7046399627",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8889a5410aa2e3ad0c1be9a929d0e8bb7503d666d23aeb035327fc65db70a59c"
  },
  "id": "0JhzmQXCxEY9MF7w",
  "tags": []
}